<!-- views/profile.ejs -->
<!doctype html>
<html>
  <head>
    
    <% include partials/head %>
    
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-gear"></span> User Account Page</h1>
      </div>
      <div class="row">

        <div class="col-sm-12">
          <div class="well clearfix">
            <% include partials/messages %>
            
            <% if (user.type === 'local') { %>
            <h3 class="text-warning"><span class="fa fa-user"></span> Local</h3>
            <% } %>
            <% if (user.type === 'facebook') { %>
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
            <% } %>
            <% if (user.type === 'twitter') { %>
            <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
            <% } %>
            <% if (user.type === 'google') { %>
            <h3 class="text-info"><span class="fa fa-google-plus"></span> Google</h3>
            <% } %>
            <p>
              <strong>id</strong>: <%= user._id %><br>
              <strong>name</strong>: <%= user.name %><br>
              
              <% if (user.email !== '') { %>
              <strong>email</strong>: <%= user.email %><br>
              <% } %>

              <% if (user.email === '') { %>
                <div class="alert alert-danger">We currently do not have an email address attached to you account. Please enter one here.</div>  
                <form class="clearfix" method="post">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" required>
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
                </form>
              <% }  else { %>
                <a href="/logout" class="btn btn-primary btn-lg pull-right">Logout</a>
              <% } %>              

            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>